<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form id="shorten-form" action="/api/shorturl" method="POST">
          <fieldset>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <div id="output"></div>
      </section>
    </main>
    <footer>
      <p>By <a href="https://gunbitportfolio.netlify.app/">Mateus Marinho</a></p>
    </footer>

    <script>
      const form = document.getElementById('shorten-form');
      const outputDiv = document.getElementById('output');
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const url = document.getElementById('url_input').value;
        const response = await fetch('/api/shorturl', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ url })
        });
        const { original_url, short_url, error } = await response.json();
        if (error) {
          outputDiv.innerText = error;
        } else {
          const output = `Original URL: ${original_url}\nShort URL: ${short_url}`;
          outputDiv.innerText = output;
        }
      });
    </script>
  </body>
</html>
